body {
	margin: 0;
}

#wrapper {
	width: 100%;
}

#page {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.vennDiagram {
	margin-top: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#sliderDiv {
	margin-top:90px;
	text-align: center;
}

#slider {
	width: 500px;
}

#titleSection{ 
	margin-top: 60px;
	font-family: helvetica;
	font-size: 26pt;
	text-align:center;
}

#person1name {
	color: #88daf8;
}

#person2name {
	color: #f4d3eb;
}

#sharedCount {
	color: #b3bfe7;
}

#dateText {
	margin-top: 10px;
	font-size: 14pt;
	font-family: helvetica;
	text-align:center;
}