body {
	margin: 0;
}

#wrapper {
	width: 100%;
}

#page {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.vennDiagram {
	margin-top: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#backButtonDiv {
	float: left;
}

#forwardButtonDiv {	
	float: right;
}

#rightArrow {
	display: none;
}

.navigationButton {
	width: 100px;
	margin-top: 260px;
}

.navigationButton:hover {
	cursor: pointer;
}