body {
	margin: 0;
}

#wrapper {
	width: 100%;
}

#page {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.vennDiagram {
	margin-top: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#backButton {
	float: left;
}

#forwardButton {	
	float: right;
}

.navigationButton {
	margin-top: 260px;
}

.navigationButton:hover {
	cursor: pointer;
}